* {
	margin: 0px;
	padding: 0px;
}

.content {
	width: 800px;
	padding: 10px;
	border: 2px solid #ddd;
	height: auto;
	margin: 20px auto;
}

.content h1 {
	color: red;
	text-align: center;
	padding: 10px 0px;
}

.question { 
	font-size: 18px;
	line-height: 24px;
}

.question p {
	font-size: 20px;
	line-height: 30px;
}

.question p span {
	font-weight: bold;
}

.question ul li {
	list-style-type: none;
	padding-left: 40px;
}

.content input[type="submit"] {
	margin: 0 auto;
	display: block;
	height: 40px;
	width: 100px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
}